{% block content %}
  <h2>Create Invoice for {{ customer.name }}</h2>
  <form method="post" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="form_set">
      {% for form in formset.forms %}
        {{form.non_field_errors}}
        {{form.errors}}
        <table class='no_error'>
          {{ form }}
        </table>
      {% endfor %}
    </div>
    <button type="submit">Create Invoice</button>
    <button type="button" value="Add More" id="add_more">Add More</button>
    <div id="empty_form" style="display:none">
      <table class='no_error'>
        {{ formset.empty_form }}
      </table>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    $('#add_more').click(function() {
      var form_idx = $('#id_form-TOTAL_FORMS').val();
      $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
  </script>
{% endblock %}
